* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 10;
  width: 100%;
  padding: 15px 30px;
  background: rgba(210, 155, 255, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  margin-bottom: 100px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f4f4f9;
  text-decoration: none;
}

.header-right {
  display: flex;
  gap: 20px;
}

.header .btns {
  background: transparent;
  border: none;
  color: #d9d9d9;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  padding: 5px 10px;
  transition: all 0.3s;
}

.btns:hover {
  color: #f4f4f9;
  transform: translateY(-2px);
}